<div class="our-story">
    <section class="banner">
        <h3 class="strong-title">GET THE <span> LATEST </span></h3>
        <h2 class="medium-title">EFS STORIES</h2>
    </section>
    <section class="story">
        <div class="container story-container">
            <ul class="control">
                <li><a href="#">PREVIOUS POST</a></li>
                <li><a href="#">BACK TO BLOG LIST</a></li>
                <li><a href="#">NEXT POST</a></li>
            </ul>
            <div class="post-content">
                <h2>Sue and Jack show you through their EU Spec Landcruiser</h2>
                <ul class="post-summary">
                    <li>
                        <span><i class="fa fa-clock"></i>26 JUNE 2018 </span>
                    </li>
                    <li>
                        <span><i class="fa fa-clock"></i>JESSICA</span>
                    </li>
                    <li>
                        <span><i class="fa fa-clock"></i>245 VIEWS</span>
                    </li>
                    <li>
                        <span><i class="fa fa-clock"></i>104 COMMENTS </span>
                    </li>
                    <li>
                        <span><i class="fa fa-clock"></i>99+ LIKES</span>
                    </li>
                </ul>
                <div class="content">
                    <!--post content here-->
                </div>
                <div class="end-post">
                    <span class="icon"><i class="fa fa-clipboard"></i></span>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                        nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
                        illum dolore eu feugiat nulla facilisis at vero eros et accumsan.</p>
                </div>
                <div class="group-button clearfix">
                    <ul class="tag">
                        <li><a>stories</a></li>
                        <li><a>efs part</a></li>
                    </ul>
                    <div class="btt">
                        <a class="btn-green">back to top</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="comment">
                <h4>COMMENT(2)</h4>
                <ul class="list-cmt">
                    <li>
                        <div>
                            <img src="./assets/images/resources/avatar_1.png">
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                            consequat.
                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
                            vel
                            illum dolore eu feugiat nulla facilisis at vero eros et accumsan.</p>
                    </li>
                    <li>
                        <div>
                            <img src="./assets/images/resources/avatar_1.png">
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                            consequat.
                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
                            vel
                            illum dolore eu feugiat nulla facilisis at vero eros et accumsan.</p>
                    </li>
                </ul>
                <hr>
                <h4>LEAVE A COMMENT</h4>
                <div class="row clearfix">
                    <form class="form-comment">
                        <div class="col-xs-12 col-md-6">
                            <input type="text" class="form-control" placeholder="Your name" />
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <input type="text" class="form-control" placeholder="Your email" />
                        </div>
                        <div class="col-xs-12">
                            <textarea class="form-control" placeholder="message"></textarea>
                        </div>
                        <div class="col-xs-12">
                            <button type="submit">SUBMIT YOUR MESSAGE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>