<img src="./assets/images/resources/Home.png" style="position:absolute;top:-50px;left:0;opacity:0.5;z-index:100;display: none" />
<section class="banner-section">
    <div class="content">
        <img class="txt-banner" src="./assets/images/resources/text_banner_1.png" />
        <p>Sue and Jack have been travelling around the Europe for a full year, read more about their story and how
            they only travel with EFS gear.</p>
        <div>
            <a class="see-more" routerLink="/page/home/story">see their story</a><br>
        </div>
        <div>
            <a class="next-page"><img src="./assets/images/resources/down_arrow.png" /></a>
        </div>
    </div>
</section>
<section class="product-section">
    <h3>VIEW THE WIDE RANGE <span> OF COMPATIBLE </span></h3>
    <h2>ACCESSORIES FOR YOUR VEHICLE</h2>
    <div class="slider multiple-items">
        <div>
            <img class="txt-banner" src="./assets/images/resources/product_2.png" />
        </div>
        <div>
            <img class="txt-banner" src="./assets/images/resources/product_1.png" />
            <div class="product-info">
                <img src="./assets/images/resources/logo.png" />
                <p class="product-name">TOYOTA LANDCRUISER</p>
                <p class="short-des">V8 HVDJ79R SINGLE AND DUAL CAB CHASSIS 2007 ON COMPATIBLE ACCESSORIES</p>
            </div>
        </div>
        <div>
            <img class="txt-banner" src="./assets/images/resources/product_3.png" />
        </div>
        <div>
            <img class="txt-banner" src="./assets/images/resources/product_3.png" />
        </div>
        <div>
            <img class="txt-banner" src="./assets/images/resources/product_1.png" />
            <div class="product-info">
                <img src="./assets/images/resources/logo.png" />
                <p class="product-name">TOYOTA LANDCRUISER</p>
                <p class="short-des">V8 HVDJ79R SINGLE AND DUAL CAB CHASSIS 2007 ON COMPATIBLE ACCESSORIES</p>
            </div>
        </div>
        <div>
            <img class="txt-banner" src="./assets/images/resources/product_2.png" />
        </div>
    </div>
    <ul class="list-acces">
        <li>
            <a title="view more"><img class="txt-banner" src="./assets/images/resources/asses_1.png" /></a>
        </li>
        <li>
            <a title="view more"><img class="txt-banner" src="./assets/images/resources/asses_1.png" /></a>
        </li>
        <li>
            <a title="view more"><img class="txt-banner" src="./assets/images/resources/asses_1.png" /></a>
        </li>
        <li>
            <a title="view more"><img class="txt-banner" src="./assets/images/resources/asses_1.png" /></a>
        </li>
        <li>
            <a title="view more"><img class="txt-banner" src="./assets/images/resources/asses_1.png" /></a>
        </li>
        <li>
            <a title="view more"><img class="txt-banner" src="./assets/images/resources/asses_1.png" /></a>
        </li>
        <li>
            <a title="view more"><img class="txt-banner" src="./assets/images/resources/asses_1.png" /></a>
        </li>
        <li>
            <a title="view more"><img class="txt-banner" src="./assets/images/resources/asses_1.png" /></a>
        </li>
        <li>
            <a title="view more"><img class="txt-banner" src="./assets/images/resources/asses_1.png" /></a>
        </li>
        <li>
            <a title="view more"><img class="txt-banner" src="./assets/images/resources/asses_1.png" /></a>
        </li>
        <li>
            <a title="view more"><img class="txt-banner" src="./assets/images/resources/asses_1.png" /></a>
        </li>
        <li>
            <a title="view more"><img class="txt-banner" src="./assets/images/resources/asses_1.png" /></a>
        </li>
    </ul>
    <div>
        <a class="see-more" routerLink="/page/home/category">SHOP ACCESSORIES FOR YOUR VEHICLE</a><br>
    </div>
    <div>
        <a class="next-page"><img src="./assets/images/resources/down_arrow.png" /></a>
    </div>
</section>
<section class="constant-section">
    <h3>CONSTANT <span> INNOVATION </span></h3>
    <h2>RELIABLE SOLUTIONS</h2>
    <div class="slider constant-slider">
        <div class="constant-item">
            <div class="clearfix">
                <div class="col-xs-6">
                    <img src="./assets/images/resources/constant_p1.png" />
                </div>
                <div class="col-xs-6">
                    <img src="./assets/images/resources/constant_p2.png" />
                    <ul class="green-list">
                        <li>13,000lbs / 5,900kg rated single line pull</li>
                        <li>6.0HP 12volt series wound balanced electric motor waterproof motor/gearbox</li>
                        <li>3 stage zinc plated hardened planetary gears </li>
                        <li>265 : 1 gear ratio </li>
                        <li>Rotating ring gear clutch with T-handle clutch engagement</li>
                        <li>18,000lbs SYNTUFF synthetic multistrand rope</li>
                        <li>High strength antibind nano technology </li>
                        <li>Abrasion resistant - 10mm diameter - 25 metre length</li>
                        <li>Full load automatic brake</li>
                        <li>Located at the motor side of the drum </li>
                        <li>Designed for synthetic rope - no heat build up in the drum</li>
                        <li>Includes wireless & wired remote 3.6 metre lead</li>
                        <li>2 year warranty</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="constant-item">
            <div class="clearfix">
                <div class="col-xs-6">
                    <img src="./assets/images/resources/constant_p1.png" />
                </div>
                <div class="col-xs-6">
                    <img src="./assets/images/resources/constant_p2.png" />
                    <ul>
                        <li>13,000lbs / 5,900kg rated single line pull</li>
                        <li>6.0HP 12volt series wound balanced electric motor waterproof motor/gearbox</li>
                        <li>3 stage zinc plated hardened planetary gears </li>
                        <li>265 : 1 gear ratio </li>
                        <li>Rotating ring gear clutch with T-handle clutch engagement</li>
                        <li>18,000lbs SYNTUFF synthetic multistrand rope</li>
                        <li>High strength antibind nano technology </li>
                        <li>Abrasion resistant - 10mm diameter - 25 metre length</li>
                        <li>Full load automatic brake</li>
                        <li>Located at the motor side of the drum </li>
                        <li>Designed for synthetic rope - no heat build up in the drum</li>
                        <li>Includes wireless & wired remote 3.6 metre lead</li>
                        <li>2 year warranty</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a class="see-more">MORE PRODUCTS</a><br>
    </div>
    <div>
        <a class="next-page"><img src="./assets/images/resources/down_arrow.png" /></a>
    </div>
</section>
<section class="explore-section">
    <div class="container">
        <h3><span> EXPLORE </span></h3>
        <h2>OUR LATEST PRODUCTS</h2>
        <div class="clearfix list">
            <div class="col-md-3">
                <div class="product-item">
                    <div class="col-xs-12">
                        <h3>40mm Bore Shock</h3>
                        <p>The EFS Elite Shock Absorber Range is developed for the 4wd owner who only pursues the best
                            for
                            their
                            4wd. </p>
                    </div>
                    <div class="img-line">
                        <img class="img-line" src="./assets/images/resources/product_line.png" />
                    </div>
                    <div class="product-box">
                        <div class="img-logo">
                            <img src="./assets/images/resources/constant_p2.png" />
                        </div>
                        <div class="img-product">
                            <img src="./assets/images/resources/constant_p1.png" />
                        </div>
                        <div class="info clearfix">
                            <span class="price">$259</span>
                            <span class="plus">+GST</span>
                            <a>shop now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-item">
                    <div class="col-xs-12">
                        <h3>40mm Bore Shock</h3>
                        <p>The EFS Elite Shock Absorber Range is developed for the 4wd owner who only pursues the best
                            for
                            their
                            4wd. </p>
                    </div>
                    <div class="img-line">
                        <img class="img-line" src="./assets/images/resources/product_line.png" />
                    </div>
                    <div class="product-box">
                        <div class="img-logo">
                            <img src="./assets/images/resources/constant_p2.png" />
                        </div>
                        <div class="img-product">
                            <img src="./assets/images/resources/constant_p1.png" />
                        </div>
                        <div class="info clearfix">
                            <span class="price">$259</span>
                            <span class="plus">+GST</span>
                            <a>shop now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-item">
                    <div class="col-xs-12">
                        <h3>40mm Bore Shock</h3>
                        <p>The EFS Elite Shock Absorber Range is developed for the 4wd owner who only pursues the best
                            for
                            their
                            4wd. </p>
                    </div>
                    <div class="img-line">
                        <img class="img-line" src="./assets/images/resources/product_line.png" />
                    </div>
                    <div class="product-box">
                        <div class="img-logo">
                            <img src="./assets/images/resources/constant_p2.png" />
                        </div>
                        <div class="img-product">
                            <img src="./assets/images/resources/constant_p1.png" />
                        </div>
                        <div class="info clearfix">
                            <span class="price">$259</span>
                            <span class="plus">+GST</span>
                            <a>shop now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-item">
                    <div class="col-xs-12">
                        <h3>40mm Bore Shock</h3>
                        <p>The EFS Elite Shock Absorber Range is developed for the 4wd owner who only pursues the best
                            for
                            their
                            4wd. </p>
                    </div>
                    <div class="img-line">
                        <img class="img-line" src="./assets/images/resources/product_line.png" />
                    </div>
                    <div class="product-box">
                        <div class="img-logo">
                            <img src="./assets/images/resources/constant_p2.png" />
                        </div>
                        <div class="img-product">
                            <img src="./assets/images/resources/constant_p1.png" />
                        </div>
                        <div class="info clearfix">
                            <span class="price">$259</span>
                            <span class="plus">+GST</span>
                            <a>shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a class="see-more">VIEW LATEST PRODUCTS</a><br>
        </div>
        <div>
            <a class="next-page"><img src="./assets/images/resources/down_arrow.png" /></a>
        </div>
    </div>
</section>
<section class="introduce-section">
    <img class="txt-banner" src="./assets/images/resources/introduce_bn_1.png" />
    <div>
        <a class="next-page"><img src="./assets/images/resources/down_arrow.png" /></a>
    </div>
</section>
<section class="watch-section">
    <h3>WATCH THE <span> LATEST </span></h3>
    <h2><img src="./assets/images/resources/logo.png">TV</h2>
    <div class="list-vid">
        <div class="vid-show">
            <h5>product showcase</h5>
            <h3>Landcruiser 200 Series <br>Xtreme strut and shocks</h3>
            <p>The boys show you whats new on the 2018 Xtreme strut and why you should seriously consider getting a set
                for you rig.</p>
            <a class="btn-red c-pointer" (click)="playVideo()">watch now</a>
        </div>
        <div class="vid-list">
            <ul>
                <li>
                    <a class="c-pointer" (click)="playVideo()">
                        <div class="thumb">
                            <img src="./assets/images/resources/vid_list.png">
                        </div>
                        <div class="text">
                            <h4>NEW Vividmax Wiring Loom Kit</h4>
                            <p>Purchased a Vividmax Light Bar or Spot lights? Make the installation even easier with
                                the Vividmax Wiring Loom Kit Comes with wiring, a cool switch, a fuse to protect your
                                circuit </p>
                            <span>2 hours ago</span>
                        </div>
                    </a>
                </li>
                <li class="active">
                    <a class="c-pointer" (click)="playVideo()">
                        <div class="thumb">
                            <img src="./assets/images/resources/vid_list.png">
                        </div>
                        <div class="text">
                            <h4>NEW Vividmax Wiring Loom Kit</h4>
                            <p>Purchased a Vividmax Light Bar or Spot lights? Make the installation even easier with
                                the Vividmax Wiring Loom Kit Comes with wiring, a cool switch, a fuse to protect your
                                circuit </p>
                            <span>2 hours ago</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-pointer" (click)="playVideo()">
                        <div class="thumb">
                            <img src="./assets/images/resources/vid_list.png">
                        </div>
                        <div class="text">
                            <h4>NEW Vividmax Wiring Loom Kit</h4>
                            <p>Purchased a Vividmax Light Bar or Spot lights? Make the installation even easier with
                                the Vividmax Wiring Loom Kit Comes with wiring, a cool switch, a fuse to protect your
                                circuit </p>
                            <span>2 hours ago</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <a class="see-more" routerLink="/page/home/EFSTV">SEE MORE VIDEOS</a>
    </div>
    <div>
        <a class="next-page"><img src="./assets/images/resources/down_arrow.png" /></a>
    </div>
</section>
<section class="news-section">
    <div class="container">
        <h3>WHAT'S <span> HAPPENING </span></h3>
        <h2>LATEST NEWS</h2>
        <div class="clearfix new-item">
            <div class="col-md-3">
                <div class="list-news" style="background-image:url('./assets/images/resources/news_lst_1.png')">
                    <div class="header clearfix">
                        <span>EFS NEWS</span>
                        <span>Wednesday, 17 January 2018</span>
                    </div>
                    <h3>EFS Adventure Series Bullbars and Rear Bars</h3>
                    <div>
                        <img src="./assets/images/resources/ellipse-1.png" />
                    </div>
                    <div class="author clearfix">
                        <div>
                            <p>James Don <br>Marketing Manager</p>
                        </div>
                        <div>
                            <a class="see-more">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="list-news" style="background-image:url('./assets/images/resources/news_lst_1.png')">
                    <div class="header clearfix">
                        <span>EFS NEWS</span>
                        <span>Wednesday, 17 January 2018</span>
                    </div>
                    <h3>EFS Adventure Series Bullbars and Rear Bars</h3>
                    <div>
                        <img src="./assets/images/resources/ellipse-1.png" />
                    </div>
                    <div class="author clearfix">
                        <div>
                            <p>James Don <br>Marketing Manager</p>
                        </div>
                        <div>
                            <a class="see-more">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="list-news" style="background-image:url('./assets/images/resources/news_lst_1.png')">
                    <div class="header clearfix">
                        <span>EFS NEWS</span>
                        <span>Wednesday, 17 January 2018</span>
                    </div>
                    <h3>EFS Adventure Series Bullbars and Rear Bars</h3>
                    <div>
                        <img src="./assets/images/resources/ellipse-1.png" />
                    </div>
                    <div class="author clearfix">
                        <div>
                            <p>James Don <br>Marketing Manager</p>
                        </div>
                        <div>
                            <a class="see-more">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="list-news" style="background-image:url('./assets/images/resources/news_lst_1.png')">
                    <div class="header clearfix">
                        <span>EFS NEWS</span>
                        <span>Wednesday, 17 January 2018</span>
                    </div>
                    <h3>EFS Adventure Series Bullbars and Rear Bars</h3>
                    <div>
                        <img src="./assets/images/resources/ellipse-1.png" />
                    </div>
                    <div class="author clearfix">
                        <div>
                            <p>James Don <br>Marketing Manager</p>
                        </div>
                        <div>
                            <a class="see-more">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="list-news" style="background-image:url('./assets/images/resources/news_lst_1.png')">
                    <div class="header clearfix">
                        <span>EFS NEWS</span>
                        <span>Wednesday, 17 January 2018</span>
                    </div>
                    <h3>EFS Adventure Series Bullbars and Rear Bars</h3>
                    <div>
                        <img src="./assets/images/resources/ellipse-1.png" />
                    </div>
                    <div class="author clearfix">
                        <div>
                            <p>James Don <br>Marketing Manager</p>
                        </div>
                        <div>
                            <a class="see-more">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="list-news" style="background-image:url('./assets/images/resources/news_lst_1.png')">
                    <div class="header clearfix">
                        <span>EFS NEWS</span>
                        <span>Wednesday, 17 January 2018</span>
                    </div>
                    <h3>EFS Adventure Series Bullbars and Rear Bars</h3>
                    <div>
                        <img src="./assets/images/resources/ellipse-1.png" />
                    </div>
                    <div class="author clearfix">
                        <div>
                            <p>James Don <br>Marketing Manager</p>
                        </div>
                        <div>
                            <a class="see-more">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="list-news" style="background-image:url('./assets/images/resources/news_lst_1.png')">
                    <div class="header clearfix">
                        <span>EFS NEWS</span>
                        <span>Wednesday, 17 January 2018</span>
                    </div>
                    <h3>EFS Adventure Series Bullbars and Rear Bars</h3>
                    <div>
                        <img src="./assets/images/resources/ellipse-1.png" />
                    </div>
                    <div class="author clearfix">
                        <div>
                            <p>James Don <br>Marketing Manager</p>
                        </div>
                        <div>
                            <a class="see-more">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="list-news" style="background-image:url('./assets/images/resources/news_lst_1.png')">
                    <div class="header clearfix">
                        <span>EFS NEWS</span>
                        <span>Wednesday, 17 January 2018</span>
                    </div>
                    <h3>EFS Adventure Series Bullbars and Rear Bars</h3>
                    <div>
                        <img src="./assets/images/resources/ellipse-1.png" />
                    </div>
                    <div class="author clearfix">
                        <div>
                            <p>James Don <br>Marketing Manager</p>
                        </div>
                        <div>
                            <a class="see-more">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a class="see-more">SEE MORE VIDEOS</a>
        </div>
        <div>
            <a class="next-page"><img src="./assets/images/resources/down_arrow.png" /></a>
        </div>
    </div>
</section>
<app-find-stock></app-find-stock>

<div id="modalVideo" data-color="red" class="modal wizard-card" data-easein="slideUpBigIn" tabindex="-1" role="dialog"
    aria-labelledby="costumModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
            </div>
            <div>
                <img src="./assets/images/resources/video_thumb_2.png" />
            </div>
        </div>
    </div>
</div>