.shop-category {
    .content {
        background-color: #000;
    }
    img {
        max-width: 100%;
    }
    .banner {
        background-image: url('../../../../assets/images/resources/detail_banner.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        min-height: 220px;
        .info {
            max-width: 870px;
            padding-top: 30px;
            margin-left: 60px;
        }
        h3 {
            font-size: 35px;
            font-weight: 700;
            color: #000;
        }
        p {
            font-size: 16px;
            font-weight: 700;
            color: #626262;
        }
        .filter {
            select {
                border: 2px solid #000;
                border-radius: 30px;
                width: 290px;
                margin-right: 30px;
                padding: 8px;
            }
            .btn-green {
                display: inline-block;
                padding: 10px 70px;
            }
        }
        .action {
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 0;
            a {
                font-size: 15px;
                display: inline-block;
                background-color: #666666;
                color: #fff;
                text-transform: uppercase;
                padding: 14px 26px;
                text-decoration: none;
                &:last-child {
                    font-weight: 700;
                    border-left: 1px solid #fff;
                }
                &:hover {
                    opacity: 0.85;
                }
            }
        }
    }
    .detail {
        background-image: url('../../../../assets/images/resources/shop_detail_bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        color: #fff;
        .rating {
            label {
                color: #007D2C;
                font-size: 12px;
                font-weight: 300;
            }
        }
        .p-content {
            p {
                margin-bottom: 20px;
            }
        }
        .supen-pop {
            background-color: #ffffff;
            border: 1px solid #DDDDDD;
            border-radius: 4px;
            color: #666666;
            padding: 20px;
            h3 {
                font-size: 11px;
                font-weight: 700;
            }
            .price {
                font-size: 37px;
                color: #333333;
            }
            sup {
                font-size: 20px;
                color: #333;
            }
            .note {
                font-size: 10px;
            }
            label {
                color: #999999;
                font-weight: 700;
            }
            .input {
                position: relative;
                margin-bottom: 10px;
                input {
                    color: #999999;
                    border: 1px solid #DDDDDD;
                    background-color: #F9F9F9;
                    border-radius: 30px;
                    box-shadow: none;
                    height: 32px;
                    padding: 15px;
                    outline: 0;
                    display: block;
                    width: 100%;
                    padding-right: 65px;
                }
                a {
                    display: block;
                    height: 32px;
                    width: 32px;
                    border: 1px solid #DDDDDD;
                    font-size: 30px;
                    position: absolute;
                    top: 0;
                    color: #999999;
                    text-decoration: none;
                    padding: 15px 5px;
                    line-height: 0;
                    cursor: pointer;
                    &.plus {
                        right: 32px;
                        border-right: 0;
                    }
                    &.minus {
                        right: 0;
                        border-top-right-radius: 30px;
                        border-bottom-right-radius: 30px;
                    }
                }
            }
            select {
                border: 1px solid #dddddd;
                border-radius: 30px;
                height: 32px;
                padding: 0 15px;
                width: 100%;
                font-size: 11px;
                color: #999999;
                margin-bottom: 20px;
            }
            .btn-green {
                margin-bottom: 30px;
            }
            .p-note {
                color: #DF1722;
                font-weight: 700;
                font-size: 11px;
                margin-bottom: 0;
            }
            .p-des {
                font-weight: 700;
                font-size: 11px;
                color: #656565;
                margin-bottom: 0;
            }
        }
    }
    .descrip-tion {
        background-color: #000;
        #description {
            p {
                margin-bottom: 25px;
            }
        }
        #sepcification {
            p {
                margin:10px 0 25px 0;
            }
            .f-text {
                font-family: 'Lato', sans-serif;
            }
            h3 {
                font-size: 18px;
                font-weight: 700;
                margin: 0;
                border-bottom: 2px solid #AAAAAA;
                padding-bottom: 10px;
            }
        }
        .tab-content {
            color: #fff;
        }
    }
}

.bread-cumb {
    float: none;
}

.contain {
    padding: 15px 60px;
}

.adv-box {
    padding: 0 20px;
}

.txt {
    margin-bottom: 50px;
}

.nav-tabs {
    border-bottom: 0;
    >li {
        >a {
            font-size: 19px;
            font-weight: 700;
            color: #fff;
            border: 0 !important;
            text-decoration: none !important;
        }
        &.active,
        &:hover {
            >a {
                background-color: transparent;
                border-bottom: 2px solid #007D2C !important;
            }
        }
    }
}
.explore-section {
    min-height: 100vh;
    background-color: #000;
    background-image: url('../../../../assets/images/resources/constant_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-image: url('../../../../assets/images/resources/explore_bn.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    h3 {
        color: #fff;
        font-size: 24px;
        margin: 0;
        margin-bottom: 10px;
        span {
            color: #DF1722;
        }
    }
    h2 {
        color: #fff;
        font-size: 38px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        margin: 0;
        margin-bottom: 40px;
    }
    .list {
        margin-bottom: 30px;
        >div {
            padding: 0 7px;
        }
    }
    .product-item {
        background-color: #fff;
        text-align: left;
        padding-top: 15px;
        h3 {
            font-size: 20px;
            color: #666666;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
        }
        p {
            color: #666666;
        }
        .img-line {
            text-align: right;
            font-size: 0;
            img {
                max-width: 70%;
                display: inline-block;
            }
        }
        .product-box {
            background-color: #1B1B1B;
            .img-logo {
                text-align: right;
                padding: 15px;
                img {
                    max-width: 99px;
                }
            }
            .img-product {
                text-align: center;
                img {
                    max-width: 80%;
                    display: inline-block;
                }
            }
            .info {
                text-align: center;
                padding: 15px;
                color: #fff;
                .price {
                    font-size: 24px;
                    color: #fff;
                    display: block;
                    float: left;
                }
                a {
                    float: right;
                    background-color: #007D2C;
                    color: #fff;
                    text-transform: uppercase;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    font-size: 7px;
                    padding: 6px 14px;
                    border-radius: 15px;
                }
            }
        }
    }
}