<div class="shop-category detail-product">
    <section class="banner">
        <div class="info">
            <h3>ACCESSORIES COMPATIBLE WITH</h3>
            <p>FORD RANGER PX 4WD 10/2011 +</p>
            <div class="action">
                <a href="#">HAVE QUESTIONS ?</a>
                <a href="#">1300 EFS 4WD</a>
            </div>
        </div>
    </section>
    <section class="detail">
        <div class="contain clearfix">
            <ul class="bread-cumb">
                <li><a>HOME</a></li>
                <li><a>VEHICLES</a></li>
                <li><a>FORD RANGER PX 4WD 10/2011</a></li>
                <li><span>SUSPENSION</span></li>
            </ul>
            <div class="col-md-3 supen-img">
                image product
            </div>
            <div class="col-md-6 supen-text">
                <h3>
                    <span>SUSPENSION</span>
                    40mm Bore Shock
                    <span class="red">* All lift heights are estimated</span>
                </h3>
                <div class="rating">
                    <label>3 Reviews</label>
                </div>
                <div class="p-content">
                    <p>Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam, sed diam nonumy
                        consectetuer dolorado adipiscing elit diam. Lorem ipsum dolor sit amet, consectetuer dolorado
                        adipiscing elit diam, sed diam nonumy consectetuer dolorado adipiscing elit diam.</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam, sed diam nonumy
                        consectetuer dolorado adipiscing elit diam.Lorem ipsum dolor sit amet, consectetuer dolorado
                        adipiscing elit diam, sed diam nonumy consectetuer dolorado adipiscing elit diam.</p>
                </div>
                <ul class="green-list">
                    <li>Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam.</li>
                    <li>Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam.</li>
                    <li>Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam.</li>
                    <li>Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam.</li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="supen-pop">
                    <h3>AVAILABILITY : <span class="status"> IN STOCK</span></h3>
                    <p>
                        <span class="price">$ 125.00</span><sup>+GST</sup>
                    </p>
                    <p class="note">Or 4 payments of $99.75 with <img src="./assets/images/resources/payment.png" /></p>
                    <label>QUANTITY</label>
                    <div class="input">
                        <input type="text" />
                        <a class="plus">+</a>
                        <a class="minus">-</a>
                    </div>
                    <label>SECONDARY OPTION</label>
                    <select>
                        <option>OPTION SELECT 1</option>
                    </select>
                    <a class="btn-green">ADD TO CART</a>
                    <p class="p-note">YOUR CLOSEST FITMENT CENTRE IS:</p>
                    <p class="p-des">EFS DIRECT </p>
                    <p class="p-des">1/16 Industrial Ave, Molendinar</p>
                    <p class="p-des">Phone: 1300 EFS 4WD</p>
                </div>
            </div>
        </div>
    </section>
    <section class="descrip-tion">
        <div class="contain">
            <div class="row clearfix">
                <div class="txt clearfix">
                    <div class="col-xs-12 col-md-3"></div>
                    <div class="col-xs-12 col-md-9">
                        <ul class="nav nav-tabs">
                            <li class="tab-link active">
                                <a data-toggle="tab" href="#description">DESCRIPTION</a>
                            </li>
                            <li class="tab-link">
                                <a data-toggle="tab" href="#sepcification">SPECIFICATIONS</a>
                            </li>
                            <li class="tab-link">
                                <a data-toggle="tab" href="#installation">INSTALLATION INSTRUCTIONS </a>
                            </li>
                            <li class="tab-link">
                                <a data-toggle="tab" href="#reviews">REVIEWS</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="adv-box">
                        <img src="./assets/images/resources/left-image.png" />
                        <a class="see-more">SHOP RANGE</a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-9">
                    <div class="tab-content">
                        <div id="description" class="tab-pane fade in active">
                            <p>Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam, sed diam
                                nonumy
                                consectetuer dolorado adipiscing elit diam. Lorem ipsum dolor sit amet,
                                consectetuer
                                dolorado adipiscing elit diam, sed diam nonumy consectetuer dolorado adipiscing
                                elit
                                diam.</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam, sed diam
                                nonumy
                                consectetuer dolorado adipiscing elit diam. Lorem ipsum dolor sit amet,
                                consectetuer
                                dolorado adipiscing elit diam, sed diam nonumy consectetuer dolorado adipiscing
                                elit
                                diam. Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam, sed
                                diam
                                nonumy consectetuer dolorado adipiscing elit diam. Lorem ipsum dolor sit amet,
                                consectetuer dolorado adipiscing elit diam, sed diam nonumy consectetuer dolorado
                                adipiscing elit diam. Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing
                                elit
                                diam, sed diam nonumy consectetuer dolorado adipiscing elit diam. Lorem ipsum dolor
                                sit
                                amet, consectetuer dolorado adipiscing elit diam, sed diam nonumy consectetuer
                                dolorado
                                adipiscing elit diam. Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing
                                elit
                                diam, sed diam nonumy consectetuer dolorado adipiscing elit diam.Lorem ipsum dolor
                                sit
                                amet, consectetuer dolorado adipiscing elit diam, sed diam nonumy consectetuer
                                dolorado
                                adipiscing elit diam. Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing
                                elit
                                diam, sed diam nonumy consectetuer dolorado adipiscing elit diam. Lorem ipsum dolor
                                sit
                                amet, consectetuer dolorado adipiscing elit diam, sed diam nonumy consectetuer
                                dolorado
                                adipiscing elit diam. Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing
                                elit
                                diam, sed diam nonumy consectetuer dolorado adipiscing elit diam. </p>
                            <p>Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam, sed diam
                                nonumy
                                consectetuer dolorado adipiscing elit diam. Lorem ipsum dolor sit amet,
                                consectetuer
                                dolorado adipiscing elit diam, sed diam nonumy consectetuer dolorado adipiscing
                                elit
                                diam. Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam, sed
                                diam
                                nonumy consectetuer dolorado adipiscing elit diam.</p>
                            <hr>
                            <h2>ADITIONAL POINTS</h2>
                            <div class="row clearfix">
                                <div class="col-xs-12 col-md-6">
                                    <ul class="green-list">
                                        <li>Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam.</li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <ul class="green-list">
                                        <li>Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam.</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div id="sepcification" class="tab-pane fade in">
                            <p class="f-text">Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam,
                                sed diam nonumy
                                consectetuer dolorado adipiscing elit diam. Lorem ipsum dolor sit amet, consectetuer
                                dolorado adipiscing elit diam, sed diam nonumy consectetuer dolorado adipiscing elit
                                diam. Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam, sed diam
                                nonumy consectetuer dolorado adipiscing elit diam.</p>
                            <h3>Top Mount</h3>
                            <p>assassa</p>
                            <h3>Bottom Mount</h3>
                            <p>assassa</p>
                            <h3>Open</h3>
                            <p>assassa</p>
                            <h3>Close</h3>
                            <p>assassa</p>
                        </div>
                        <div id="installation" class="tab-pane fade in active">

                        </div>
                        <div id="reviews" class="tab-pane fade in">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="explore-section">
        <div class="contain">
            <h3>VIEW<span> OUR  </span></h3>
            <h2>RELATED PRODUCTS</h2>
            <div class="clearfix list">
                <div class="col-md-3">
                    <div class="product-item">
                        <div class="col-xs-12">
                            <h3>40mm Bore Shock</h3>
                            <p>The EFS Elite Shock Absorber Range is developed for the 4wd owner who only pursues the
                                best
                                for
                                their
                                4wd. </p>
                        </div>
                        <div class="img-line">
                            <img class="img-line" src="./assets/images/resources/product_line.png" />
                        </div>
                        <div class="product-box">
                            <div class="img-logo">
                                <img src="./assets/images/resources/constant_p2.png" />
                            </div>
                            <div class="img-product">
                                <img src="./assets/images/resources/constant_p1.png" />
                            </div>
                            <div class="info clearfix">
                                <span class="price">$259</span>
                                <span class="plus">+GST</span>
                                <a>shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-item">
                        <div class="col-xs-12">
                            <h3>40mm Bore Shock</h3>
                            <p>The EFS Elite Shock Absorber Range is developed for the 4wd owner who only pursues the
                                best
                                for
                                their
                                4wd. </p>
                        </div>
                        <div class="img-line">
                            <img class="img-line" src="./assets/images/resources/product_line.png" />
                        </div>
                        <div class="product-box">
                            <div class="img-logo">
                                <img src="./assets/images/resources/constant_p2.png" />
                            </div>
                            <div class="img-product">
                                <img src="./assets/images/resources/constant_p1.png" />
                            </div>
                            <div class="info clearfix">
                                <span class="price">$259</span>
                                <span class="plus">+GST</span>
                                <a>shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-item">
                        <div class="col-xs-12">
                            <h3>40mm Bore Shock</h3>
                            <p>The EFS Elite Shock Absorber Range is developed for the 4wd owner who only pursues the
                                best
                                for
                                their
                                4wd. </p>
                        </div>
                        <div class="img-line">
                            <img class="img-line" src="./assets/images/resources/product_line.png" />
                        </div>
                        <div class="product-box">
                            <div class="img-logo">
                                <img src="./assets/images/resources/constant_p2.png" />
                            </div>
                            <div class="img-product">
                                <img src="./assets/images/resources/constant_p1.png" />
                            </div>
                            <div class="info clearfix">
                                <span class="price">$259</span>
                                <span class="plus">+GST</span>
                                <a>shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-item">
                        <div class="col-xs-12">
                            <h3>40mm Bore Shock</h3>
                            <p>The EFS Elite Shock Absorber Range is developed for the 4wd owner who only pursues the
                                best
                                for
                                their
                                4wd. </p>
                        </div>
                        <div class="img-line">
                            <img class="img-line" src="./assets/images/resources/product_line.png" />
                        </div>
                        <div class="product-box">
                            <div class="img-logo">
                                <img src="./assets/images/resources/constant_p2.png" />
                            </div>
                            <div class="img-product">
                                <img src="./assets/images/resources/constant_p1.png" />
                            </div>
                            <div class="info clearfix">
                                <span class="price">$259</span>
                                <span class="plus">+GST</span>
                                <a>shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a class="see-more">VIEW LATEST PRODUCTS</a><br>
            </div>
        </div>
    </section>
    <app-find-stock></app-find-stock>
</div>