<div class="efs-tv">
    <section class="video-slide">
        <div class="container">
            <h3 class="strong-title">WATCH THE <span> LATEST </span></h3>
            <h2 class="medium-title">
                <img src="./assets/images/resources/logo.png" />TV
            </h2>
            <div class="slide-video">
                <div class="item">
                    <img src="./assets/images/resources/group-17.png" />
                </div>
                <div class="item">
                    <img src="./assets/images/resources/group-17.png" />
                </div>
            </div>
        </div>
    </section>
    <section class="list-video">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-4 box">
                    <div class="item">
                        <img src="./assets/images/resources/rectangle-3.png" />
                        <div class="content">
                            <h4>EFS Adventure Series Bullbars and Rear Bars</h4>
                            <a class="play-icon"><i class="fa fa-play"></i></a>
                            <p>Now Playing</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 box">
                    <div class="item">
                        <img src="./assets/images/resources/rectangle-3.png" />
                        <div class="content">
                            <h4>EFS Adventure Series Bullbars and Rear Bars</h4>
                            <a class="play-icon"><i class="fa fa-play"></i></a>
                            <p>Now Playing</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 box">
                    <div class="item">
                        <img src="./assets/images/resources/rectangle-3.png" />
                        <div class="content">
                            <h4>EFS Adventure Series Bullbars and Rear Bars</h4>
                            <a class="play-icon"><i class="fa fa-play"></i></a>
                            <p>Now Playing</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 box">
                    <div class="item">
                        <img src="./assets/images/resources/rectangle-3.png" />
                        <div class="content">
                            <h4>EFS Adventure Series Bullbars and Rear Bars</h4>
                            <a class="play-icon"><i class="fa fa-play"></i></a>
                            <p>Now Playing</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 box">
                    <div class="item">
                        <img src="./assets/images/resources/rectangle-3.png" />
                        <div class="content">
                            <h4>EFS Adventure Series Bullbars and Rear Bars</h4>
                            <a class="play-icon"><i class="fa fa-play"></i></a>
                            <p>Now Playing</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 box">
                    <div class="item">
                        <img src="./assets/images/resources/rectangle-3.png" />
                        <div class="content">
                            <h4>EFS Adventure Series Bullbars and Rear Bars</h4>
                            <a class="play-icon"><i class="fa fa-play"></i></a>
                            <p>Now Playing</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 box">
                    <div class="item">
                        <img src="./assets/images/resources/rectangle-3.png" />
                        <div class="content">
                            <h4>EFS Adventure Series Bullbars and Rear Bars</h4>
                            <a class="play-icon"><i class="fa fa-play"></i></a>
                            <p>Now Playing</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 box">
                    <div class="item">
                        <img src="./assets/images/resources/rectangle-3.png" />
                        <div class="content">
                            <h4>EFS Adventure Series Bullbars and Rear Bars</h4>
                            <a class="play-icon"><i class="fa fa-play"></i></a>
                            <p>Now Playing</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 box">
                    <div class="item">
                        <img src="./assets/images/resources/rectangle-3.png" />
                        <div class="content">
                            <h4>EFS Adventure Series Bullbars and Rear Bars</h4>
                            <a class="play-icon"><i class="fa fa-play"></i></a>
                            <p>Now Playing</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 box">
                    <div class="item">
                        <img src="./assets/images/resources/rectangle-3.png" />
                        <div class="content">
                            <h4>EFS Adventure Series Bullbars and Rear Bars</h4>
                            <a class="play-icon"><i class="fa fa-play"></i></a>
                            <p>Now Playing</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 box">
                    <div class="item">
                        <img src="./assets/images/resources/rectangle-3.png" />
                        <div class="content">
                            <h4>EFS Adventure Series Bullbars and Rear Bars</h4>
                            <a class="play-icon"><i class="fa fa-play"></i></a>
                            <p>Now Playing</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 box">
                    <div class="item">
                        <img src="./assets/images/resources/rectangle-3.png" />
                        <div class="content">
                            <h4>EFS Adventure Series Bullbars and Rear Bars</h4>
                            <a class="play-icon"><i class="fa fa-play"></i></a>
                            <p>Now Playing</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 box">
                    <div class="item">
                        <img src="./assets/images/resources/rectangle-3.png" />
                        <div class="content">
                            <h4>EFS Adventure Series Bullbars and Rear Bars</h4>
                            <a class="play-icon"><i class="fa fa-play"></i></a>
                            <p>Now Playing</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 box">
                    <div class="item">
                        <img src="./assets/images/resources/rectangle-3.png" />
                        <div class="content">
                            <h4>EFS Adventure Series Bullbars and Rear Bars</h4>
                            <a class="play-icon"><i class="fa fa-play"></i></a>
                            <p>Now Playing</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 box">
                    <div class="item">
                        <img src="./assets/images/resources/rectangle-3.png" />
                        <div class="content">
                            <h4>EFS Adventure Series Bullbars and Rear Bars</h4>
                            <a class="play-icon"><i class="fa fa-play"></i></a>
                            <p>Now Playing</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>