@import "~styles/_mixin.scss";
header {
    position: relative;
    z-index: 99;
    img {
        max-width: 100%;
    }
    .container {
        padding: 0;
    }
    .header-top {
        min-height: 65px;
        background-color: #fff;
        padding-top: 10px;
        .left-top {
            float: left;
            color: #000;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 15px;
            padding-top: 12px;
        }
        .right-top {
            float: right;
            .search {
                float: left;
                position: relative;
                input {
                    border: 1px solid #aaa;
                    outline: none;
                    border-radius: 50px;
                    width: 395px;
                    height: 44px;
                    padding: 15px;
                    padding-right: 30px;
                }
                a {
                    position: absolute;
                    top: 1px;
                    font-size: 24px;
                    right: 6px;
                    color: #969696;
                }
            }
            .navbar-nav {
                float: right;
                padding-top: 12px;
                >li>a {
                    color: #000;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                }
            }
        }
    }
    ul {
        list-style: none;
    }
    .nav-menu {
        height: 100px;
        background-color: #000;
        text-align: center;
        .nav {
            >li {
                display: inline-block;
                padding: 0 5px;
                height: 100px;
                padding-top: 30px;
                cursor: pointer;
                &.nav-logo {
                    border-bottom: none;
                }
                &.dropdown-sub {
                    .dropdown-menu {
                        text-align: left;
                        display: block;
                        visibility: hidden;
                        border: none;
                        min-width: 200px;
                        -webkit-border-radius: 0;
                        -moz-border-radius: 0;
                        -o-border-radius: 0;
                        -ms-border-radius: 0;
                        border-radius: 0;
                        opacity: 0;
                        filter: alpha(opacity=0);
                        -webkit-transition: all .3s;
                        -moz-transition: all .3s;
                        -o-transition: all .3s;
                        -ms-transition: all .3s;
                        transition: all .3s;
                    }
                }
                &:hover {
                    >a {
                        border-bottom: 2px solid #007D2C;
                    }
                }
            }
            .sub-menu {
                .dropdown-menu {
                    padding: 30px 15px 15px;
                    width: 100%;
                    visibility: hidden;
                    box-shadow: 0px 0px 5px #999;
                    li {
                        float: left;
                        padding: 0 15px;
                    }
                }
                &:hover {
                    .dropdown-menu {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
            .caret {
                color: #fff;
            }
            .nav-link {
                color: #fff;
                font-size: 15px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                text-transform: uppercase;
                display: inline-block;
                text-decoration: none !important;
                padding: 12px 15px;
            }
        }
    }
}

.sub-menu-reng {
    padding: 0;
    margin: 0;
    li {
        width: 25%;
        h3 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 15px;
            text-transform: uppercase;
            color: #000;
            margin-bottom: 45px;
        }
        a {
            display: block;
            color: #656565;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            text-decoration: none !important;
            margin-bottom: 10px;
            position: relative;
            &:hover {
                color: #007D2C;
                &::before {
                    content: "";
                    position: absolute;
                    left: -10px;
                    top: 5px;
                    width: 4px;
                    height: 11px;
                    background-color: #007D2C;
                }
            }
        }
    }
}

.drop-cart {
    min-width: 370px;
    left: auto;
    right: -40px;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.26);
    padding: 25px;
    margin-top: 40px;
    &:after,
    &:before {
        bottom: 100%;
        right: 45px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    &:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #fff;
        border-width: 15px;
        margin-left: -6px;
    }
    &:before {
        border-color: rgba(209, 213, 219, 0);
        border-bottom-color: #D1D5DB;
        border-width: 16px;
        margin-left: -7px;
    }
    .cart {
        padding: 0;
        margin-bottom: 40px;
        li {
            display: table;
            width: 100%;
            >div {
                display: table-cell;
                vertical-align: top;
                &.image {
                    width: 60px;
                }
                &.text {
                    padding: 0 15px;
                    font-size: 12px;
                    color: #666666;
                    h4 {
                        margin: 0 0 5px 0;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 500;
                        font-size: 12px;
                    }
                    p {
                        font-family: 'arial', sans-serif;
                    }
                }
                &.price {
                    width: 100px;
                    .qty {
                        width: 25px;
                        border: none;
                    }
                    .price-num {
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 700;
                        font-size: 18px;
                        color: #007D2C;
                        sub {
                            font-size: 10px;
                        }
                    }
                    .remove {
                        display: inline-block;
                        margin-left: 10px;
                        color: #2D3A4B;
                        font-size: 10px;
                    }
                }
            }
            &.total-price {
                text-align: right;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 18px;
                sub {
                    font-size: 10px;
                    font-weight: 500;
                }
                .price-num {
                    display: inline-block;
                    margin-left: 20px;
                }
            }
        }
    }
}