.price-range {
    margin-top: 29px;
    padding-left: 10px;

    span {
        font-size: 12px;
        font-weight: 700;
        color: #AAAAAA;

        &:fisrt-child {
            float: left;
        }

        &:last-child {
            float: right;
        }
    }
}
