.banner-section {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -25px;
    position: relative;
    z-index: 1;
    color: #fff;

    .content {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        .txt-banner {
            width: 70%;
            display: inline-block;
            margin-bottom: 10%;
        }

        p {
            font-size: 18px;
            font-family: 'Lato';
            margin-bottom: 25px;
        }
    }
}

.product-section {
    min-height: 100vh;
    background-color: #000;
    background-image: url('../../assets/images//banner_product.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 30px 0;

    h3 {
        color: #fff;
        font-size: 24px;
        margin: 0;
        margin-bottom: 10px;

        span {
            color: #DF1722;
        }
    }

    h2 {
        color: #fff;
        font-size: 38px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        margin: 0;
        margin-bottom: 40px;
    }

    .multiple-items {
        max-width: 90%;
        margin: 0 auto;
    }

    .product-info {
        margin-top: 340px;

        img {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 25px;
        }

        .product-name {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            color: #007D2C;
        }

        .short-des {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            color: #fff;
        }
    }

    .list-acces {
        padding: 0;
        list-style: none;
        font-size: 0;
        text-align: center;
        margin: 20px 0 40px 0;

        li {
            display: inline-block;
            width: 65px;
            height: 65px;
            background-color: #fff;
            border-radius: 50%;
            margin: 0 10px;

            a {
                cursor: pointer;
            }

            img {
                max-width: 100%;
                display: inline-block;
            }
        }
    }
}

.constant-section {
    min-height: 100vh;
    background-color: #000;
    background-image: url('../../assets/images//constant_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-image: url('../../assets/images//banner_product.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    h3 {
        color: #fff;
        font-size: 24px;
        margin: 0;
        margin-bottom: 10px;

        span {
            color: #DF1722;
        }
    }

    h2 {
        color: #fff;
        font-size: 38px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        margin: 0;
        margin-bottom: 40px;
    }

    .constant-slider {
        width: 90%;
        margin: 0 auto;
    }

    .constant-item {
        margin-bottom: 30px;
    }
}

.explore-section {
    min-height: 100vh;
    background-color: #000;
    background-image: url('../../assets/images//constant_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-image: url('../../assets/images//explore_bn.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    h3 {
        color: #fff;
        font-size: 24px;
        margin: 0;
        margin-bottom: 10px;

        span {
            color: #DF1722;
        }
    }

    h2 {
        color: #fff;
        font-size: 38px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        margin: 0;
        margin-bottom: 40px;
    }

    .list {
        margin-bottom: 30px;

        > div {
            padding: 0 7px;
        }
    }

    .product-item {
        background-color: #fff;
        text-align: left;
        padding-top: 15px;

        h3 {
            font-size: 20px;
            color: #666666;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
        }

        p {
            color: #666666;
        }

        .img-line {
            text-align: right;
            font-size: 0;

            img {
                max-width: 70%;
                display: inline-block;
            }
        }

        .product-box {
            background-color: #1B1B1B;

            .img-logo {
                text-align: right;
                padding: 15px;

                img {
                    max-width: 99px;
                }
            }

            .img-product {
                text-align: center;

                img {
                    max-width: 80%;
                    display: inline-block;
                }
            }

            .info {
                text-align: center;
                padding: 15px;
                color: #fff;

                .price {
                    font-size: 24px;
                    color: #fff;
                    display: block;
                    float: left;
                }

                a {
                    float: right;
                    background-color: #007D2C;
                    color: #fff;
                    text-transform: uppercase;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    font-size: 7px;
                    padding: 6px 14px;
                    border-radius: 15px;
                    border: 1px solid #007D2C;
                    transition: all ease 0.15s;
                    cursor: pointer;

                    &:hover {
                        background-color: #fff;
                        color: #007D2C;
                        border: 1px solid #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.introduce-section {
    min-height: 100vh;
    background-color: #000;
    background-image: url('../../assets/images//introduce_bn_2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-image: url('../../assets/images//banner_product.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    img {
        margin-bottom: 40px;
    }
}

.watch-section {
    min-height: 100vh;
    background-color: #000;
    background-image: url('../../assets/images//watch_banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;

    h3 {
        color: #fff;
        font-size: 24px;
        margin: 0;
        margin-bottom: 10px;

        span {
            color: #DF1722;
        }
    }

    h2 {
        color: #fff;
        font-size: 38px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        margin: 0;
        margin-bottom: 40px;
    }

    .list-vid {
        display: table;
        width: 100%;
        margin-bottom: 70px;

        > div {
            display: table-cell;
            width: 50%;
            vertical-align: top;

            &.vid-show {
                background-image: url('../../assets/images//vid_thumb.png');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                text-align: left;
                color: #fff;
                padding: 30px;

                h5 {
                    font-size: 11px;
                }

                h3 {
                    font-size: 22px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 300;
                }

                p {
                    font-size: 16px;
                }

                .btn-red {
                    margin-top: 15px;
                }
            }

            &.vid-list {
                padding-left: 30px;

                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    text-align: left;

                    li {
                        a {
                            display: table;
                            width: 100%;
                            color: #fff;
                            background-color: rgba(0, 0, 0, 0.67);
                            text-decoration: none;

                            > div {
                                display: table-cell;
                                vertical-align: top;

                                &.thumb {
                                    width: 120px;
                                    position: relative;

                                    .see-more {
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        margin: 0;
                                        padding: 11px 20px;

                                        &:hover {
                                            background-color: #DF1722;
                                            color: #fff;
                                            border: 1px solid #fff;
                                        }
                                    }
                                }

                                &.text {
                                    padding-left: 20px;
                                }
                            }

                            h4 {
                                font-family: 'Montserrat', sans-serif;
                                font-weight: 300;
                                font-size: 14px;
                                margin-bottom: 5px;
                            }

                            p {
                                margin-bottom: 0px;
                                font-size: 10px;
                            }

                            span {
                                font-size: 8px;
                            }
                        }

                        &.active,
                        &:hover {
                            a {
                                background-color: #3E3E3E;
                            }

                            .see-more {
                                background-color: #DF1722;
                                color: #fff;
                                border: 1px solid #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

.news-section {
    min-height: 100vh;
    background-color: #000;
    background-image: url('../../assets/images//news_banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;

    h3 {
        color: #fff;
        font-size: 24px;
        margin: 0;
        margin-bottom: 10px;

        span {
            color: #DF1722;
        }
    }

    h2 {
        color: #fff;
        font-size: 38px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        margin: 0;
        margin-bottom: 40px;
    }

    .new-item {
        margin-bottom: 40px;

        > div {
            padding: 0 7px;
        }
    }


    .list-news {
        color: #fff;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 20px 25px;
        text-align: left;
        margin-bottom: 15px;

        .header {
            font-size: 12px;

            span {
                &:first-child {
                    float: left;
                }

                &:last-child {
                    float: right;
                }
            }
        }

        h3 {
            font-size: 22px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            margin-top: 20px;
        }

        .author {
            > div {
                &:first-child {
                    float: left;
                }

                &:last-child {
                    float: right;
                }
            }

            .see-more {
                padding: 5px 12px;
                font-size: 10px;
            }
        }
    }

    .new-detail {
        background-color: #fff;
        color: #666666;
        text-align: left;
        padding: 20px;

        span {
            font-size: 10px;
        }

        h3 {
            font-size: 18px;
            font-weight: 300;
            color: #666666;
            margin: 20px 0 30px 0;
        }

        p {
            font-size: 14px;
            max-height: 100px;
            overflow: hidden;
            margin-bottom: 20px;
        }
    }

    .news {
        position: relative;
        cursor: pointer;
        transform-style: preserve-3d;
        transition: all 0.5s linear;
        min-height: 350px;
        margin-bottom: 14px;

        .face-box {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;

            &.back {
                display: block;
                transform: rotateY(180deg);
                box-sizing: border-box;
            }
        }

        &:hover {
            transform: rotateY(180deg);
        }
    }
}

#modalVideo {
    .modal-body,
    .modal-content {
        background-color: transparent;
        padding: 0;
    }

    .close {
        font-size: 20px;
        color: #fff;
    }
}

.stock-section {
    position: relative;
    z-index: 1;
    text-align: center;

    .gmap {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    h3 {
        color: #fff;
        font-size: 24px;
        margin: 0;
        margin-bottom: 10px;

        span {
            color: #DF1722;
            display: inline-block !important;
            margin-bottom: 0 !important;
            font-size: 24px !important;
        }
    }

    h2 {
        color: #fff;
        font-size: 38px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        margin: 0;
        margin-bottom: 40px;
    }

    .stock-input {
        background-color: rgba(0, 0, 0, 0.85);
        min-height: 435px;
        position: relative;
        color: #fff;

        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        p {
            font-size: 24px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
        }

        span {
            font-family: 'Lato-Regular';
            font-size: 16px;
            display: block;
            margin-bottom: 30px;
        }

        .suburb-input {
            position: relative;
            max-width: 320px;
            margin: 0 auto;

            input {
                width: 100%;
                height: 50px;
                background-color: #F0F0F0;
                color: #000;
                font-family: 'Lato-Regular';
                outline: 0;
                box-shadow: none;
                padding: 15px;
                border: 0;
                border-radius: 30px;
            }

            a {
                width: 32px;
                height: 32px;
                background-color: #DF1722;
                border-radius: 50%;
                display: inline-block;
                position: absolute;
                top: 10px;
                right: 13px;
                padding: 5px;
            }
        }
    }
}

.result {
    padding-top: 40px;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            display: table;
            width: 100%;
            padding: 10px 0;
            border-top: 1px dashed #fff;

            &:last-child {
                border-bottom: 1px dashed #fff;
            }

            > div {
                display: table-cell;
                vertical-align: top;
                font-weight: 700;
                color: #fff;
                text-align: left;

                h3,
                p,
                span {
                    font-size: 12px;
                    margin-bottom: 5px;
                }

                &:last-child {
                    text-align: right;

                    a {
                        color: #007D2C;
                    }
                }
            }
        }
    }
}

.slide-3d {
    .product-info {
        display: none;
        position: absolute;
        width: 100%;

        &.active {
            display: block;
        }
    }

    #carousel {
        > li {
            position: relative;
        }

        canvas {
            display: none !important;
        }
    }

    ol {
        padding: 0;
        list-style: none;
    }

    .thumbnail-news {
        text-align: center;
    }

    .thumbnail-news > li {
        display: none;

        &.active {
            display: block;
        }
    }
}

#modalVideo {
    padding-top: 60px;
}
